*.DS_Store

mysql/master/data/*
mysql/slave01/data/*
mysql/slave02/data/*


redis/master/data/*
redis/slave01/data/*
redis/slave02/data/*


zookeeper/zk01/data/*
zookeeper/zk02/data/*
zookeeper/zk03/data/*
zookeeper/zk01/datalog/*
zookeeper/zk02/datalog/*
zookeeper/zk03/datalog/*


rabbitmq/rabbit01/data/mnesia/*
rabbitmq/rabbit02/data/mnesia/*
rabbitmq/rabbit03/data/mnesia/*


kafka/node01/data/*
kafka/node02/data/*
kafka/node03/data/*


es/node01/data/*
es/node02/data/*
es/node03/data/*
