*.DS_Store
*.bash_history

es/data/*

hadoop/data/*

kafka/data/*

mysql/data/*

nebula/data/*
nebula/log/*

portainer/*

rabbitmq/data/*

redis/data/*

xxl-job/logs/*

zookeeper/data/*
zookeeper/datalog/*

!.gitkeep
